a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

header {
  background-color: #663399;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

header a {
  font-size: 1.5rem;
  font-weight: 400;
  height: 80px;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 20px;
  background: repeating-radial-gradient(circle, #fafafa, transparent 20%);
  background-size: 3em 3em;
  background-color: #e6e6e6;
  opacity: 0.855;
}

.about-me {
  border: 2px solid #666;
  padding: 15px;
}

.about-me p {
  line-height: 1.6;
  font-size: 1.2rem;
}

.about-me img {
  height: 220px;
  margin: 10px;
}

.portfolio img {
  margin: 10px;
  border: 5px solid #663399;
  transition: transform 0.3s ease-in-out;
}

.portfolio img:hover {
  transform: scale(1.1);
  border: 5px solid #ffcc00;
}

.portfolio p {
  line-height: 1.2;
  font-size: 1.2rem;
  border: 2px solid #666;
  padding: 10px;
}

.portfolio a {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.resume {
  margin-top: 35px;
  border: 2px solid #666;
  padding: 10px;
  margin-top: 20px;
}

.resume p {
  line-height: 1.4;
  font-size: 1.2rem;
  padding: 5px;
}

.contact-me ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer {
  background-color: #f2f2f2;
  color: #666;
  text-align: center;
  padding: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header a {
    height: auto;
    margin-bottom: 10px;
  }

  .portfolio a {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .about-me img,
  .portfolio img {
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 2rem;
  }

  header a {
    font-size: 1.2rem;
  }

  .about-me p,
  .portfolio p,
  .resume p,
  .contact-me ul li {
    font-size: 1rem;
  }
}
