a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

header {
  background-color: #663399;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

nav .contacts li {
  margin-right: 20px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}
.about-me {
  border: 2px solid #666;
  padding: 10px;
}
.about-me p {
  line-height: 1.6;
  font-size: 1.2rem;
}

.portfolio img {
  height: 200px;
  margin: 10px;
  border: 5px solid #663399;
  transition: transform 0.3s ease-in-out;
}

.portfolio img:hover {
  transform: scale(1.1);
  border: 5px solid #ffcc00;
}
.portfolio p {
  border: 2px solid #666;
  padding: 10px;
}
.resume p {
  border: 2px solid #666;
  padding: 10px;
}
.contact-me ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer {
  background-color: #f2f2f2;
  color: #666;
  text-align: center;
  padding: 20px;
}
